<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>rowHeight</key>
		<integer>40</integer>
		<key>leftPadding</key>
		<integer>5</integer>
		<key>rightPadding</key>
		<integer>5</integer>
		<key>captionWidth</key>
		<integer>80</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<integer>4</integer>
					<key>macro</key>
					<string>version</string>
					<key>contentAlign</key>
					<integer>2</integer>
					<key>caption</key>
					<string>option_row_version</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>align</key>
					<integer>2</integer>
					<key>guid</key>
					<integer>3</integer>
					<key>content</key>
					<string>option_row_share_twitter</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>align</key>
					<integer>2</integer>
					<key>guid</key>
					<integer>1</integer>
					<key>content</key>
					<string>option_row_rate</string>
					<key>style</key>
					<string>{&quot;color&quot;: &quot;rgba(255,0,0,1)&quot;}</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>align</key>
					<integer>2</integer>
					<key>guid</key>
					<integer>2</integer>
					<key>content</key>
					<string>option_row_feedback</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>align</key>
					<integer>2</integer>
					<key>content</key>
					<string>option_row_change_password</string>
					<key>guid</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>caption</key>
					<string>option_row_enable_password</string>
					<key>guid</key>
					<integer>4</integer>
					<key>value</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
